@font-face {
    font-family: 'PetitCochon';
    src: url(Petitcochon/Petitcochon.ttf);
}
* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
img {
    width: 100%;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 2.5rem;
}

nav {
    background-color: #FFF5F5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 10;
    position: relative;
}
.nav-logo {
    width: 25%;
    text-align: center;
}
.nav-menu {
    width: 75%;
}
nav img {
    max-width: 12rem;
    height: auto;
    margin: 1rem;
    padding-left: 2rem;
}
nav img:hover {
    transform: scale(1.2);
}
.nav-menu {
    margin: 0 auto;
}
.nav-menu ul {
    list-style: none;
    display: inline-flex;
    padding-left: 0rem;
}
.nav-menu ul>li {
    padding: 2rem;
}
.nav-menu ul>li:hover {
    transform: scale(1.2);
}
.nav-menu a {
    font-size: 2.5rem;
    color: #825F43;
    font-family: 'Petitcochon', 'Open Sans', sans-serif;
}
#o-nas {
    background-color: #EF897E;
    min-height: 400px;
    margin-top: -4rem;
    margin-bottom: -4rem;
    color:#2e1a1f;
    display: flex;
}
.o-nasimg img {
    padding-top: 6rem;
    max-width: 500px;
    height: auto;
}
.o-nasimg {
    text-align: center;
    width: 40%;
}
.o-nastext {
    width: 60%;
}
.o-nastext p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #FFF5F5;
    padding: 8rem 4rem 2rem 2rem;
}
.name {
    line-height: 1.2;
    font-size: 1.8rem;
    font-family: 'Petitcochon', 'Open Sans', sans-serif;
}
.button {
    display: inline-block;
    background-color: #FFB2A6;
    text-align: center;
    border-radius: 1rem;
    margin: 0 0 6rem 2rem;
    padding: 1rem 0;
}
.button a {
    border-radius: 1rem;
    color: #FFF5F5;
    font-size: 1.3rem; 
    padding: 1rem 3rem;
}
.button a:hover {
    color:#EF897E;
    background-color: #FFF5F5;
}
.o-nas2 {
    display: flex;
    background-color: #FFF5F5;
    min-height: 400px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}